.information_section {
  padding-bottom: 80px;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.anchor {
  position: absolute;
  transform: translateY(-30vh);
}

.title {
  font-size: 34px;
  font-weight: lighter;
}

.cards_list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.cards_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0, 0.4);
}

.cards_item > p{
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}

.cards_item > img {
  z-index: -1;
}